<%= form_for @partial do |f| %>

<fieldset>
  <legend>Lançar Parcial</legend>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="control-group">
    <%= f.label :value, 'Valor*', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, class: 'text_field' %>
    </div>
  </div>
  
</fieldset>


<div class="form-actions">
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', debts_path, class: 'btn' %>
</div>
<% end %>