<%= form_for @order do |f| %>

<fieldset>
  <legend>Dados da Venda</legend>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="control-group">
    <%= f.label :customer_id, "Clientes*", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :customer_id, Customer.all, :id, :full_name, :include_blank => 'Selecione um cliente' %>
    </div>
  </div>
</fieldset>
<fieldset>

<legend>Novo Fiado</legend>
  <%= f.fields_for :debt do |debt| %> 
  <div class="control-group">
    <%= debt.label :expiration_date, 'Data de Vencimento*', class: 'control-label' %>
    <div class="controls">
      <%= debt.date_select :expiration_date,
        {order: [:day, :month, :year], 
        use_short_month: true, 
        start_year: Date.today.year, 
        end_year: Date.today.year + 10, 
        prompt: { :day => 'dia', :month => 'mês', :year => 'ano' }},
        {class: "input-mini"}
      %>
    </div>
  </div>
  <% end %>
</fieldset>

<div class="form-actions">
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', store_index_path, class: 'btn' %>
</div>
<% end %>