<% provide(:title, 'Vendas') %>

<div class="page-header">
  <h1>Vendas</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Cliente</th>
      <th>Preço</th>
      <th>Estado</th>
      <th>Criada em</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <% if order.customer_id.nil? %>
          <td></td>
        <% else %>
          <td> <%= order.customer.full_name %> </td>
        <% end %>
        <td><%= sprintf("%0.2f",order.price) %></td>
        <td><%= order.status %></td>
        <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
        <td>
          <%= link_to "Mostar", order, class: 'btn btn-mini' %>
          <%= link_to "Deletar", order, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
