<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
<tr>
<% end %>
<tr>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.category.name %></td>
  <td class="item_price">
    <%= sprintf("%0.2f",line_item.total_price) %></td>
</tr>